{% extends "base.html" %}
{% load staticfiles %}

{% block head_title %}{{ title }} | DMS{% endblock %}

<script>
     tinymce.init({
        selector: 'textarea',  // change this value according to your HTML
        forced_root_block_attrs: {
            'class': 'myclass',
            'data-something': 'my data'
            }
        });
</script>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">

        {% block content %}
            <h1>{{ title }}</h1>
             {{ content }}
        {% endblock content %}

    </div>
</div>



