<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block head_title %}{% endblock %}</title>

    {% include 'css.html' %}

  </head>

  <body>

    {% include 'navbar.html' %}

    <!-- Page Content -->
    <div class="container">

    {% block content %} {% endblock %}

        </div>
    <!-- /.container -->

    {% include 'footer.html' %}

  </body>


</html>
