{% load thumbnail %}

{# Custom style for carousel#}
<style>
    .carousel-inner > .carousel-item > img{
        margin:auto;
        width:60%;
    }
</style>

  <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
          {% thumbnail "product_pictures/apple-iphone-x-new-1.jpg" "400x600" as im %}
            <img class="img-fluid" src="{{ im.url }}" alt="iPhone-X">
          {% endthumbnail %}
        <div class="carousel-caption d-none d-md-block">
            <h5>iPhone X</h5>
            <p>...</p>
        </div>
      </div>
      <div class="carousel-item">
          {% thumbnail "product_pictures/essential-phone-1.jpg" "400x600" as im %}
            <img class="img-fluid" src="{{ im.url }}" alt="Essential-phone-1">
          {% endthumbnail %}
        <div class="carousel-caption d-none d-md-block">
            <h5>Essential Phone 1</h5>
            <p>...</p>
        </div>
      </div>
      <div class="carousel-item">
          {% thumbnail "product_pictures/samsung-galaxy-note-8-sm-n950-3.jpg" "400x600" as im %}
            <img class="img-fluid" src="{{ im.url }}" alt="Samsung-galaxy-note-8">
          {% endthumbnail %}
        <div class="carousel-caption d-none d-md-block">
            <h5>Samsung Galaxy Note 8</h5>
            <p>...</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
